<div>
    <div style="height:60px;background-color: #ccc;">
        <h2 fxFlex="100" fxLayoutAlign="center center" style="margin:0px"> ABC Technologies</h2>
    </div>
    <div style="margin: 5px;line-height: 30px;">
        &nbsp;&nbsp;&nbsp;
        ABC is a leading organistaion in the Develpoment Tools market for developement projects. 
        We provides Angular Debugging Tools, IDE Tools for developing and Debugging products.
        We offers an products as an reasonable price which makes customers as satisfy.
        We are providing services over various countries and we can have helpservices which helps for customers whenever needs helps.
        We are having various clients who are using our various products and all of us are satistied. 
    </div>
    <div>
        <mat-grid-list cols="2" rowHeight="180px" [gutterSize]="'10px'">
            <mat-grid-tile style="border: 1px solid #ccc;width: 49%;">
                <div style="padding: 15px;">
                    <h4 style="text-decoration: underline;color:red">WHO WE ARE</h4>
                    <span style="line-height: 25px;margin:20px">
                        For 30+ years, ABC has worked with various clients and with various organisations.
                        As the world’s leading organizations, ABC works in nearly 100 countries. At every level, we collaborate with people around the world to develop and deliver innovative solutions that helps to backups data, debugging solutions for developers,etc...
                    </span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile style="border: 1px solid #ccc;">
                <div style="padding: 15px;">
                    <h4 style="text-decoration: underline;color:red">HISTORY</h4>
                    <span style="line-height: 25px;margin:20px">
                        ABC has entered into the developement tools market in 1990. Since then, the only focus is on building a comprehensive debugging solution.
                        Over the last 30+ years, ABC has set footprints around the globe and is trusted by several companies in different sectors like private, public sectors to provide an proper ui tools.
                    </span>
                </div>
            </mat-grid-tile>
        </mat-grid-list>          
    </div>
</div>