<div style="margin-top: 10px;margin-bottom: 20px;">
    <mat-grid-list cols="2" rowHeight="180px" [gutterSize]="'10px'">
        <mat-grid-tile style="border: 1px solid #ccc;width: 49%;">
            <img src="assets/images/img1.jpg">
        </mat-grid-tile>
        <mat-grid-tile style="border: 1px solid #ccc;width: 49%;">
            <img src="assets/images/img2.jpg">
        </mat-grid-tile>
        <mat-grid-tile style="border: 1px solid #ccc;width: 49%;">
            <img src="assets/images/img3.jpg">
        </mat-grid-tile>
        <mat-grid-tile style="border: 1px solid #ccc;width: 49%;">
            <img src="assets/images/img4.jpg">
        </mat-grid-tile>
        <mat-grid-tile style="border: 1px solid #ccc;width: 49%;">
            <img src="assets/images/img5.jpg">
        </mat-grid-tile>
        <mat-grid-tile style="border: 1px solid #ccc;width: 49%;">
            <img src="assets/images/img6.jpg">
        </mat-grid-tile>
    </mat-grid-list>
</div>