<footer>
    <div style="background-color: #1c2331;color: white;font-size: 14px;">
        <div fxFlex="100" fxLayout="row" style="margin: 20px;">
            <div fxFlex="24" fxLayout="column" fxLayoutGap="4px">
                <div >
                    <span class="headStyle">COMPANY NAME</span>
                </div>
                <div>
                    <span>ABC Technologies Private Limited</span>
                </div>
            </div>
            <div fxFlex="25" fxLayout="column" fxLayoutGap="4px">
                <div >
                    <span class="headStyle">PRODUCTS</span>
                </div>
                <div >
                    <span>Angular Testing Tools</span>
                </div>
                <div >
                    <span>Bootstrap Angular</span>
                </div>
                <div >
                    <span>JavaScript Testing Tools</span>
                </div>
                <div >
                    <span>Backup Tools</span>
                </div>
            </div>
            <div fxFlex="25" fxLayout="column" fxLayoutGap="4px">
                <div >
                    <span class="headStyle">USEFUL LINKS</span>
                </div>
                <div >
                    <span>Your Account</span>
                </div>
                <div >
                    <span>Shipping Rates</span>
                </div>
                <div >
                    <span>Help</span>
                </div>
            </div>
            <div fxFlex="25" fxLayout="column" fxLayoutGap="4px">
                <div >
                    <span class="headStyle">CONTACT</span>
                </div>
                <div >
                    <span>Mail: abc@abc.com</span>
                </div>
                <div >
                    <span>Contact: +91-9053790001</span>
                </div>
                <div >
                    <span>Linked IN: abc_at_product</span>
                </div>
                <div >
                    <span>Address: 1, Parrys, Chennai, TamilNadu, India 600001</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div fxLayoutAlign="center center" style="background-color: #1c2331;">
            <span style="color: rgba(255,255,255,0.6)">© 2021 Copyright:</span>
            <a style="color: white;"> abc.com</a>
        </div>
    </div>
</footer>