<div [ngStyle]="{backgroundImage:'url(./assets/images/img2.jpg'}" style="background-repeat: no-repeat; background-size: 100% 100%;height: 90vh;" >
    <h1 fxLayoutAlign="center center" style="margin:0px;width: 90%;"> ABC Technologies</h1>
    <div fxLayout="column" fxLayoutAlign="center" style="height: 60vh;;">
        <div fxLayoutAlign="start center" style="width: 75%;margin-left: 25%;">
            <mat-form-field style="width: 45%;">
                <mat-label>Search our products</mat-label>
                <input matInput type="search">
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center center" style="width: 90%;">
            <button mat-raised-button color="warn">Get Started</button>
        </div>
    </div>
</div>
